<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In with Google</title>
    <link rel="stylesheet" href="./css/google.css">
</head>
<body>
    <div class="signin-container">
        <h1>Sign In with Google</h1>
        <p>Choose an account to continue to lambdatest.com</p>
        <div id="account-options">
            <!-- Dynamic account options will be injected here -->
        </div>
    </div>
    <script src="./js/google.js"></script>
</body>
</html>
